<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reseñas de Anime</title>
    <link rel="stylesheet" href="app.component.css">
</head>

<body>
    <header>
        <h1>Reseñas de Anime</h1>
    </header>
    <main>

        <section class="review">
            <h2>Dragon Ball Z</h2>
            <div class="rating">★★★★★</div>
            <img src="assets/dragonballz.avif" alt="dragonBallz" class="anime-image">
            <p><strong>Descripción:</strong> Dragon Ball Z es la continuación de la serie Dragon Ball, donde Goku y sus amigos enfrentan poderosos enemigos y protegen la Tierra.</p>
            <p><strong>Opinión:</strong> Esta serie es un clásico del shonen. Su mezcla de acción, amistad y crecimiento personal la convierte en un referente. Las batallas son épicas y los personajes muy carismáticos.</p>
        </section>

        <section class="review">
            <h2>One Piece</h2>
            <div class="rating">★★★☆☆</div>
            <img src="assets/onepiece.webp" alt="onepiece" class="anime-image">
            <p><strong>Descripción:</strong> One Piece sigue la aventura de Monkey D. Luffy y su tripulación en busca del tesoro más grande del mundo, el One Piece, mientras enfrentan diversos enemigos.</p>
            <p><strong>Opinión:</strong> Es una serie increíblemente rica en historia y desarrollo de personajes. La diversidad de mundos y la profundidad de las tramas la hacen única. ¡Un must para cualquier amante del anime!</p>
        </section>

        <section class="review">
            <h2>Naruto Shippuden</h2>
            <div class="rating">★★★★☆</div>
            <img src="assets/naruto.avif" alt="naruto" class="anime-image">
            <p><strong>Descripción:</strong> Naruto Shippuden sigue la historia de Naruto Uzumaki, quien busca convertirse en Hokage mientras enfrenta nuevos enemigos y retos que amenazan a su mundo.</p>
            <p><strong>Opinión:</strong> La evolución de Naruto y sus amigos es emocionante. Temas de amistad, sacrificio y redención están presentes a lo largo de la serie, haciéndola muy emotiva.</p>
        </section>

        <section class="review">
            <h2>Bleach</h2>
            <div class="rating">★★★★☆</div>
            <img src="assets/bleach.webp" alt="bleach" class="anime-image">
            <p><strong>Descripción:</strong> Bleach narra la historia de Ichigo Kurosaki, un adolescente que obtiene los poderes de un Soul Reaper y debe proteger a los vivos de los espíritus malignos.</p>
            <p><strong>Opinión:</strong> Con su mezcla de acción y elementos sobrenaturales, Bleach ofrece combates emocionantes y un mundo fascinante. Algunos arcos son memorables, aunque la serie tiene altibajos.</p>
        </section>

    </main>

    <footer>
        <p>&copy; 2024 Reseñas de Anime</p>
    </footer>
</body>

</html>